*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
}
.container{
	width: 75vw;
	padding: 2rem 1rem;
	margin: 0 auto;	
}
a{
	text-decoration: none;
}
.headerContainer{
	margin-bottom: 2.8rem;
}
#headerTittle{
	margin-bottom: 1rem;
	font-size: 1.7rem;
	line-height: 1rem;
	text-align: center;
	font-weight: 600;
}
#headerDescription{
	max-width: 540px;
	text-align: center;
	color: rgb(105, 99, 99, 1.0);
	margin: 0px auto;
}
.mainContainer{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.7rem;
}
@media (min-width:650px){
	.mainContainer{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width:1050px){
	.mainContainer{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width:1340px){
	.mainContainer{
		grid-template-columns: repeat(4, 1fr);
	}
}
.cardContainer{
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(233, 234, 244, 1.0);
	border-radius: 05px;
}
.cardImageContainer{
	position: relative;
	overflow: hidden;
	height: 5rem;
}
@media (min-width:660px){
	.cardImageContainer{
		height: 10rem;
	}
}
.cardImage{
	object-fit: cover;
	object-position: center;
	position: absolute;
	height: 100%;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.cardTittleContainer{
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
.cardContainer:hover .cardImage{
	transform: scale(1.1);
	transition-duration: 200ms;
}
.cardHeading{
/*	display: inline;*/
	color: black;
	font-size: 0.9rem;
	font-weight: 600;
	line-height: 1.rem;
	margin-bottom: 0.3rem;
}
.cardImageLink:hover .cardHeading{
	color: blue;
}
.cardDescription{
	font-size: 0.7rem;
	color: rgb(113, 107, 107, 1.0);
}
.cardFooterContainer{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-items: center;
	padding: 0 0.8rem;
	padding-bottom: 0.8rem;

}
.authorContainer{
	display: flex;
	align-items: center;
	gap: 1rem;
}
.authorAvtarContainer{
	height: 2.5rem;
	width: 2.5rem;
	overflow: hidden;
	border: 1px solid rgb(150, 147, 147, 1.0);
	background-color: lightgray;
	border-radius: 5rem;
}
.authorInfoContainer{
	display: flex;
	flex-direction: column;
}
.name{
	color: rgb(38, 38, 149, 1.0);
	font-size: 0.8rem;
	font-weight: 400;
}
.dob{
	color: gray;
	font-size: 0.7rem;
}
.cardTagContainer{
	border: 1px solid black;
	border-radius: 2px;
	padding: 0.25rem 0.2rem;
	font-size: 0.77rem;
	line-height: 1rem;
	color: grey;
}
